.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: grey !important;
}
#header {
}
.services-box {
  padding: 30px;
  border-radius: 20px;
  border: none;
  background-color: #23c4e8;
  text-align: center;
}
.mx-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 7.2em;
  line-height: 1.8em;
}
