.nav-link:hover {
  color: grey !important;
}
.nav-link.active {
  background: none !important;
  color: #23c4e8 !important;
}
.nav-link {
  color: grey;
  padding: 0 40px 0 0 !important;
}
.menu {
  color: white;
}
.menu:hover {
  color: grey;
}

#header {
}
.services-box {
  padding: 30px;
  border-radius: 20px;
  border: none;
  background-color: #23c4e8;
  text-align: center;
}
.mx-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 7.2em;
  line-height: 1.8em;
}
.experience-box {
  padding: 30px;
  border-radius: 20px;
  border: none;
  background-color: #c9c7c7;
}
.porto {
  text-align: center;
}
